/* LESS Document */
table.how-were-different {
  font-size: 1.2em;
  width: 100%;
  position: relative;
}
table.how-were-different tr {
  position: relative;
}
table.how-were-different tr td:first-child {
  width: 20%;
  text-align: center;
}
table.how-were-different tr td {
  border: 1px solid #afa5a6;
  padding: 1% 2%;
  font-family: 'avenir', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  width: 100%;
}
table.how-were-different tr td a {
  color: #655f61;
  font-weight: normal;
  position: relative;
  display: block;
  width: 100%;
}
table.how-were-different tr td a:after {
  position: absolute;
  right: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f144";
  font-size: larger;
}
table.how-were-different tr td a:hover {
  color: #c41230;
}
@media screen and (max-width: 480px) {
  table.how-were-different tr {
    display: block;
    width: 100%;
  }
  table.how-were-different tr td:nth-child(odd) {
    position: absolute;
    top: 10px;
    border: none;
    width: 100%;
  }
  table.how-were-different tr td:nth-child(even) {
    width: 100%;
    display: block;
    border-bottom: none;
    text-align: center;
    position: relative;
    padding: 60px 2% 2% 2%;
  }
  table.how-were-different tr td:nth-child(even) a:after {
    display: none;
  }
  table.how-were-different tr:nth-last-child(1) {
    border-bottom: 1px solid #afa5a6;
  }
}
.ch-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.ch-icon-cake {
  background-image: url(../img/cake.png);
}
.ch-icon-chefhat {
  background-image: url(../img/chefhat.png);
}
.ch-icon-heart {
  background-image: url(../img/heart.png);
}
.ch-icon-iip {
  background-image: url(../img/iip.png);
}
.ch-icon-startick {
  background-image: url(../img/startick.png);
}
.ch-icon-trolley {
  background-image: url(../img/trolley.png);
}
body.archive.author div.slider {
  background: #afa5a6;
}
body.archive.author div.slider li {
  background-size: auto 100%;
}
.slider .slides-content h2 {
  font-size: 44px;
  line-height: 48px;
  font-weight: normal !important;
  font-family: 'avenir-black', Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  margin: 90px auto 32px auto;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.fullscreenslider .flex-direction-nav a {
  width: 70px;
  height: 90px;
  background-size: auto 80%;
  background-position: center center;
  background-repeat: no-repeat;
}
article.entry blockquote {
  border-top: 2px solid #e2e0d1;
  border-bottom: 2px solid #e2e0d1;
  padding: 10px 0 20px 0;
  margin: 20px 0;
}
article.entry blockquote figure.wp-caption {
  float: left;
  max-width: 30%;
  margin: 0 20px 20px 0;
}
article.entry blockquote figure.wp-caption img {
  max-width: 100%;
  height: auto;
}
article.entry blockquote figure.wp-caption figcaption {
  font-size: 12px;
  font-family: 'avenir-roman', Arial, Helvetica, sans-serif;
}
